*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html body{
    height: 100%;
    width: 100%;
}
.nav-main{
    width: 100%;
    height: 100vh;
  
    font-family: sans-serif;

}

.glo{
    /* border: 1px solid white; */
    width: 50%;
    display: flex;
    justify-content: space-evenly;

}
.glo a{
    text-decoration: none;
    color: white;
}
.cards{
    padding: 50px;
}
.card-body{
    margin-top: 30px;
    margin: 30px;
   
}
.card img{
    width: 100%;
    height: 540px;
    border-radius: 5px;
    
}
.footer{
    width: 100%;
    height: auto; 
}   
    .f-1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    background-color: black;
    }
    .f-1-div{
    height: auto;
    width: auto;
    padding: 10px;
    color: #fff;
    
    }
    .f-1-div a{
        text-decoration: none;
    
    }
    .f-1-link{
     padding: 10px;
     color: #fff;
     text-align: center;
    }
    .f2{
    height: 5%;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: rgb(42, 40, 37);
    }

    @media (max-width: 700px) 
{
   .glo{
        display: none;
    }
    .f-1{
        display: flex;
        flex-direction: column; 
    }
    .footer{
        padding-top: 0;
        
    }
    .card{
        padding: 0;
    }
    .card-body{
        /* border: 1px solid black; */
         margin-top: 29.7px; 
    }
    .card img{
        width: 100%;
        margin-left: 0;
        height: auto;
    }
}