*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html body{
    height: auto;
    width: 100%;
}


.glo{
    /* border: 1px solid white; */
    width: 50%;
    display: flex;
    justify-content: space-evenly;

}
.glo a{
    text-decoration: none;
    color: white;
}
.tmc{
    width: 100%;
    height: auto;
    /* border: 2px solid rgb(0, 0, 0); */
    /* align-items: center; */
    padding-left: 20%;
    background-color: rgb(22, 23, 23);
}

.slidd{
    height: auto;
    width: 70%;
    margin-top: 4.7%;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-left: 25px;
    /* padding-top: 20px; */
    
      /* border: 1px solid rgb(0, 0, 0);  */
    /* background-color: blue; */
}
.tmc .slidd{
    align-items: center;
}
.footer{
    width: 100%;
    height: auto;    }
    .f-1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    background-color: black;
    }
    .f-1-div{
    height: auto;
    width: auto;
    padding: 10px;
    color: #fff;
    
    }
    .f-1-div a{
        text-decoration: none;
    
    }
    .f-1-link{
     padding: 10px;
     color: #fff;
     text-align: center;
    }
    .f2{
    height: 5%;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: rgb(42, 40, 37);
    }

    @media (max-width: 700px) 
{
   .glo{
        display: none;
    }
    .slidd{
        height: auto;
        width: 100%;
        margin-top: 20%;
        padding-bottom: 5px;
        margin-left: 0;
    }
    .f-1{
        display: flex;
        flex-direction: column; 
    }
    .footer{
        padding-top: 0;
        
    }
    .tmc{
        height: 350px;
        padding-top:0;
        padding-left: 0;
        padding: 15px;
        background-color: rgb(205, 247, 241);
    }
}